<header>
<div class="topnav">
<a class="active" href="http://localhost:3000">Home</a>
<b><a href="#booking">Book Now</a></b>
<a href="about">About us</a>
<a href="#resources">Resources</a>
<a href="http://localhost:3000/contact">Contact</a>
<a href="http://localhost:3000/users/sign_in">Login</a>
</div>

</header>
