<body>

<b><h1 style = "text-align:center"> <%= t('.atitle') %>  </h1></b>      <%# Grabs en.yml outputs info %>
<br>
</br>
<center>
<img src="https://photos.wikimapia.org/p/00/00/37/98/94_big.jpg" style="width 600px;height:300px">    <%# Image being inserted %>
</center>
<br>
</br>
<div class ="textbox">            <%# Textbox for information on the page for layout %>
<p style = "font-size:18px"><%= t('.descrip') %> </p>
   </div>
</body>
